<div class="footer-container">
  <div class="container">
    <div class="social-fonts d-flex justify-content-center gap-3">
      <a href="https://www.linkedin.com/in/jen-jacobsen/" target="_blank">
        <i class="bi bi-linkedin" alt="Jen Jacobsen Linkedin Profile"></i>
      </a>
      <a href="https://github.com/jenjacobsen23" target="_blank">
        <i class="bi bi-github" alt="Jen Jacobsen Github Profile"></i>
      </a>
      <a href="#contact">
        <i
          class="bi bi-envelope-at"
          alt="Link to navigate to contact section"
        ></i>
      </a>
    </div>
    <!-- <h3>JEN JACOBSEN</h3> -->

    <hr class="faded-hr" />
    <p class="text-center">
      &#169; Copyright 2025. Made by <strong>Jen Jacobsen</strong>
    </p>
  </div>
</div>
