<mat-toolbar class="gap-5 justify-content-between">
  <div class="logo d-flex align-items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="30px"
      viewBox="0 -960 960 960"
      width="30px"
      fill="#1f1f1f"
    >
      <path
        d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z"
      />
    </svg>
    <span>JJ</span>
  </div>
  <div>
    <div class="d-md-none d-flex">
      <app-menu-navigation></app-menu-navigation>
    </div>
    <div class="d-none d-md-block"><app-navigation></app-navigation></div>
  </div>
  <!-- <app-navigation></app-navigation> -->
  <!-- <div class="d-flex column gap-3">
      <a href="https://www.linkedin.com/in/jen-jacobsen/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#contact">
        <i class="fa-regular fa-envelope"></i>
      </a>
    </div> -->
</mat-toolbar>
