<app-experience-section imageSrc="../../../assets/images/bc-app.png">
  <h2 ngProjectAs="title">
    <span> Brain Changer </span><span class="vr"></span
    ><small class="fw-light">2018-2024</small>
  </h2>
  <div ngProjectAs="project-description">
    <p>
      I initially worked on this web application during its early stages and
      have since returned as a Senior Development Consultant, providing code
      reviews, ad-hoc development support, and assisting with the breakdown and
      estimation of enhancements.
    </p>
    <a class="decorate" href="https://brainchanger.io/" target="_blank"
      >Brain Changer Website</a
    >
  </div>
</app-experience-section>
