<div class="container">
  <h1 class="section-heading text-center">EXPERIENCE</h1>

  <p class="section-tag-line text-center m-auto">
    With 8+ years of experience, I’ve worked across industries, building and
    modernising web applications for startups and government projects. I enjoy
    tackling complex problems, improving system architecture, and helping teams
    deliver high-quality software.
  </p>
  <br />
  <div class="text-center">
    <button mat-raised-button color="primary" class="btn-medium">
      <a href="../../../assets/files/JEN JACOBSEN.pdf" target="_blank">
        Download CV</a
      >
    </button>
  </div>
  <br />

  <div class="row row-cols-1 row-cols-lg-3 g-3">
    <app-smart class="col-lg-4"></app-smart>
    <app-brain-changer class="col-lg-4"></app-brain-changer>
    <app-other-experience class="col-lg-4"></app-other-experience>
  </div>
</div>
