<h3 class="section-sub-heading">Get to know me!</h3>
<p class="about-me-para">
  I am a <strong>Full Stack Developer</strong> specialising in
  <strong>Front-End Web Development</strong> with experience building and
  managing websites and applications of all sizes—from start-up solutions to
  large-scale systems for government departments.
</p>

<p class="about-me-para">
  I am open to opportunities where I can
  <strong>contribute, learn and grow </strong>. I enjoy working on a diverse
  range of projects, whether small, complex, or long-term commitments—no
  challenge is too big or too small.
</p>

<p class="about-me-para">
  If you have an opportunity that aligns with my skills and experience, feel
  free to <strong>get in touch</strong>. I’d love to connect!
</p>

<button mat-raised-button color="primary" class="btn-medium">
  <a href="#contact">CONTACT ME</a>
</button>
