<app-experience-section [showIcons]="false">
  <h2 ngProjectAs="title">Other Experience</h2>
  <div ngProjectAs="project-description">
    <p>
      I have worked across multiple industries, gaining experience in both
      internal and external projects. My previous roles include:
    </p>
    <ul>
      <li>IT Security Analyst <span class="vr"></span>ATO</li>
      <li>Functional Tester <span class="vr"></span>ATO</li>
      <li>
        Capability Lead - Development & Testing <span class="vr"></span>12Level
      </li>
    </ul>
    <p>
      During my time at 12thLevel Pty Ltd, I progressed from Junior Analyst
      Programmer to Capability Lead for Development and Testing within three
      years.
    </p>
    <p>
      Beyond my professional roles, I have provided advice and technical
      expertise to community groups I am part of, helping them improve their
      systems, websites, and processes.
    </p>
  </div>
</app-experience-section>
