.contact-form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0.4375rem 1.8125rem 0px;
  background: white;
  padding: 4rem;
  text-align: right;
  border-radius: 0.3125rem;
  width: 70%;
  margin: 4rem auto 0 auto;
  padding: 3rem;
}

button {
  width: 100%;
}
