<app-experience-section [additionalIcons]="additionalIcons">
  <h2 ngProjectAs="title">
    <span> S.M.A.R.T </span><span class="vr"></span
    ><small class="fw-light">2018-2024</small>
  </h2>

  <div ngProjectAs="project-description">
    <p>
      Recruited by
      <a
        href="https://brownstone.au/case-study/informing-whole-of-capability-decision-making/"
        target="_blank"
      >
        Brownstone Consulting Pty Ltd</a
      >
      to spearhead the continued development and enhancement of the S.M.A.R.T
      application, a mission-critical system originally built during tenure at
      12thLevel, leveraging deep technical expertise and product knowledge.
    </p>

    <p>
      Winner of the
      <span>Minor Aquisition ADM Essington Lewis Award</span> in 2021.

      <a
        class="decorate"
        href="https://www.australiandefence.com.au/events/awards/adm-essington-lewis-2021-finalists-announced"
        target="_blank"
        >Read more..</a
      >
    </p>

    <h4>Modern Architecture Migration</h4>
    <p>
      As Technical Lead, I lead the migration of the S.M.A.R.T application from
      legacy SharePoint 2010 hosting to a modern architecture, aligning with
      established standards to enhance scalability, performance, and
      maintainability.
    </p>
  </div>
</app-experience-section>
