$primary: #339fcc;
$primary-lighter: #c2e2f0;
$primary-darker: #2083b9;

$accent: #8de0cd;
$accent-lighter: #ddf6f0;
$accent-darker: #70d3ba;

$warning: #fb4d4d;
$warning-lighter: #fecaca;
$warning-darker: #f93434;

$dark-text: #2c2c2c;
$dark-text-lighter: #494848;

$light-text: #fff;

$primary-font: "Montserrat";

// used for styling the skills and tools pills
$primary-lighter-rgba: rgba(194, 226, 240, 0.5);
$accent-rgba: rgba(141, 224, 205, 0.3);
